* {
  padding: 0%;
  margin: 0%;
}


.containerTitulo {
  display: flex;
  text-align: center;
  padding: 5px;

}

.containerTitulo img {
  width: 180px;

}

.containerTitulo button {
  width: 100px;
  height: 5vh;
  text-align: center;
  border-color: blueviolet;
  border-radius: 50px;
  color: blueviolet;
  cursor: pointer;
  

}

.containerTitulo button:hover {
  color: rgb(76, 29, 119);
}

.coantainerButton {
  padding-top: 50px;
}

body {
  background-color: black;
}

.containerMain {
  background-color: black;
  padding: 10px;

}

.App {
  background-color: black;
  border: 2px solid blueviolet;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}